<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ 'home'|page }}">Angular 2 Registration</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">WHO WE SERVE</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">WHAT WE DO</a></li>
                <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">WHY CHOOSE US</a></li>
            </ul>
        </div>
    </div>
</nav>
